
/* app/styles/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  @apply font-sans bg-gray-50 text-gray-800;
}
